[submodule "deploy"]
	path = deploy
	url = git@github.com:Ma-Nu-El/deploy.git
[submodule "uni"]
	path = uni
	url = git@github.com:Ma-Nu-El/uni.git
[submodule "orgmode.org"]
	path = orgmode.org
	url = git@github.com:Ma-Nu-El/orgmode.org.git
[submodule "org-plot-test"]
	path = org-plot-test
	url = git@github.com:Ma-Nu-El/org-plot-test.git
[submodule "orgdemo"]
	path = orgdemo
	url = git@github.com:Ma-Nu-El/orgdemo.git
[submodule "calculus-handbook"]
	path = calculus-handbook
	url = git@github.com:Ma-Nu-El/calculus-handbook.git
[submodule "tikzManual"]
	path = tikzManual
	url = git@github.com:Ma-Nu-El/tikzManual.git
[submodule "org-mode-R-tutorial"]
	path = org-mode-R-tutorial
	url = git@github.com:Ma-Nu-El/org-mode-R-tutorial.git
