[submodule "deploy"]
	path = deploy
	url = git@github.com:Ma-Nu-El/deploy.git
[submodule "uni"]
	path = uni
	url = git@github.com:Ma-Nu-El/uni.git
[submodule "org-plot-test"]
	path = org-plot-test
	url = git@github.com:Ma-Nu-El/org-plot-test.git
[submodule "calculus-handbook"]
	path = calculus-handbook
	url = git@github.com:Ma-Nu-El/calculus-handbook.git
[submodule "tikzManual"]
	path = tikzManual
	url = git@github.com:Ma-Nu-El/tikzManual.git
[submodule "org-mode-R-tutorial"]
	path = org-mode-R-tutorial
	url = git@github.com:Ma-Nu-El/org-mode-R-tutorial.git
[submodule "taskjuggler-example"]
	path = taskjuggler-example
	url = git@github.com:Ma-Nu-El/taskjuggler-example.git
[submodule "org-taskjuggler-example"]
	path = org-taskjuggler-example
	url = git@github.com:Ma-Nu-El/org-taskjuggler-example.git
[submodule "org-pandocked"]
	path = org-pandocked
	url = git@github.com:Ma-Nu-El/org-pandocked.git
[submodule "org-ledger-example"]
	path = org-ledger-example
	url = git@github.com:Ma-Nu-El/org-ledger-example.git
[submodule "orgmode.org"]
	path = orgmode.org
	url = git@github.com:tecosaur/orgmode.org.git
[submodule "orgdemo"]
	path = orgdemo
	url = https://gitlab.com/spudlyo/orgdemo.git
